.bottom-search {
    border-top: 1px solid #dee2e6;
    background-color: #fff;
    position: -webkit-sticky;
    position: sticky;
    width: 100%;
    bottom: 0;
    padding: 7px 0;
    z-index: 700000;
}

.bottom-search .search {
    padding: 6px 0;
}

.bottom-search .search ul {
    display: flex;
    width: 100%;
}

.bottom-search .search ul li {
    width: calc(100% / 4);
    text-align: center;
    border-right: 1px solid;
    border-right: 1px solid #dee2e6;
}

.bottom-search .search ul li:last-child {
    border-right: none;
}

.bottom-search .search ul li a svg {
    font-size: 20px;
    color: #444;
}

a.icon-badge {
    position: relative;
}

a.icon-badge span {
    position: absolute;
    top: -8px;
    left: -7px;
    width: 19px;
    height: 14px;
    font-size: 10px;
    background-color: var(--navbar-active-link);
    color: #fff;
    text-align: center;
    line-height: 13px;
    border-radius: 9px;
}